body {
  margin: auto;
  background-color: rgb(247, 236, 237);
  width: 100%;
  /* margin-left: 200px; */
}

header {
  background-color: #300e1b;
}

h1 {
  text-align: center;
  color: rgb(92, 62, 62);
  font-size: 3vw;
  margin-top: 50px;
  margin: auto;
}

h3, h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

h4 {
  font-style:italic;
}

hr {
  background-color: #003049;
}

ol {
  list-style-type: I;
}

ul {
  list-style-type: disc;
}

p {
  margin-top: 10px;;
}

.bio-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d3bacb;
  margin-top: 80px;
  margin-left: 380px;
  height: 175vh;
  width: 70%;
  /* width: 900px; */

}

.pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: 800px; */
  width: 80%;
  padding-top: 50px;
    
}

.info-edu, .info-fave, .info-bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: aliceblue;
  /* width: 600px; */
  width: 80%;
  /* height: 850px; */
  padding: 45px;
  padding-bottom: 50px;
}

#email-input, #email-btn {
  margin-left: 10px;
}


footer {
  background-color: #300e1b;
  padding: 0px;
  margin-top: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.info-sect, .sign-up-sect {
  display:flex;
  align-items: center; 
  padding: 10px 50px 10px 50px; 
  /* flex-direction: row; */
  /* justify-content: center; */
}


.info-sect {
  justify-content:between;
  margin-right: 50px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ad719a;
  margin: 20px;
}
