body {
  margin: auto;
  background-color: rgb(241, 222, 222);
  width: 100%;
}

header {
  background-color: #300e1b;
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3vw;
  margin: auto;
}

h3, h2 {
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

h4 {
  font-style:italic;
}

hr {
  background-color: #003049;
}

ol {
  list-style-type: I;
}

ul {
  list-style-type: disc;
}

p {
  margin-top: 10px;;
}

.bio-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #d3bacb;
  margin: auto;
  height: 100%;
  padding-bottom: 50px;
  width: 60%;
}

.pic-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;  
  padding-top: 50px;
    
}

.info-edu, .info-fave, .info-bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: aliceblue;
  width: 80%;
  padding: 45px;
  padding-bottom: 50px;
}

#email-input, #email-btn {
  margin-left: 10px;
}


footer {
  background-color: #300e1b;
  padding-left: 50px;
  padding-right: 80px;
  margin-top: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.info-sect, .sign-up-sect {
  display:flex;
  align-items: center; 
  padding: 20px; 
  flex-direction: row;
  margin-right: 80px;
}


.info-sect {
  justify-content:between;
  margin-right: 50px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ad719a;
  margin: 20px;
}
